:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
    font-size: large;
}

btn {
  margin-top: 10px;
}
 label {
   margin-right: 15px;
 }
.city {
  margin-bottom: 15px;
}

.btn {
  margin-bottom: 10px;
}