<div class="content">
    

            <mat-grid-list cols="2">
                <mat-card-title-group>
                    <mat-card-title>
                        <h2>Weather</h2>
                        
                    </mat-card-title>
                    <hr>
                    <mat-card-content>
                        <form>
                            <label class="text">Insert your City:<br>
                                <input name="city" [(ngModel)]="location" placeholder="your city" value="{{location}}">
                            </label>
                            <button (click)="setLocation(location)" class="btn btn-primary">Click me!</button>
                        </form>
                    </mat-card-content>
                </mat-card-title-group>
            </mat-grid-list>
       
    <div class="row">        
        <hr>
        <h3>Weather Details</h3>

        <p class="text-center">Current weather conditions: <b>{{this.weatherData.weather[0].main}}</b></p>
        <p class="text-center">Temperature in Degrees Celsius: <b>{{this.weatherData.main.temp}}</b></p>
        <p class="text-center">Feels like in Degrees Celsius: <b>{{this.weatherData.main.feels_like}}</b></p>
        <p class="text-center">Location Searched: <b>{{this.weatherData.name}}</b></p>
        <p class="text-center">Wind speed in kilometers per second: <b>{{this.weatherData.wind.speed}}</b></p>
        <p class="text-center">Humidity in percent: <b>{{this.weatherData.main.humidity}}</b></p>
        <p class="text-center">Pressure in hektopascal: <b>{{this.weatherData.main.pressure}}</b></p>

    </div>
    
</div>