<div class="content">

    <mat-grid-list cols="2">
        <mat-card-title-group>
            <mat-card-title>
                <h2>Weather</h2>

            </mat-card-title>
            <hr>
            <mat-card-content>
                <form *ngIf="!mobile">
                    <label class="text">Insert your City:<br>
                        <input name="city" [(ngModel)]="location" placeholder="Your city" value="{{location}}">
                    </label>
                    <button (click)="setLocation(location)" class="btn btn-primary">Get weather!</button>
                </form>

                <form *ngIf="mobile">
                    <label class="text">Insert your City:<br>
                        <input name="city" [(ngModel)]="location" placeholder="Your city" value="{{location}}">
                    </label><br><br>
                    <button (click)="setLocation(location)" class="btn" style="margin-left: 0; background-color:#07575B; color: #C4DFE6;">Get weather!</button>
                </form>
                
            </mat-card-content>
        </mat-card-title-group>
    </mat-grid-list>

    <div class="row">
        <hr>
        <h3>Weather Details</h3>

        <p class="text-center">Location Searched: <b *ngIf="this.weatherData">  {{this.weatherData.name}}</b></p>
        <p class="text-center">Current weather conditions: <b *ngIf="this.weatherData">{{this.weatherData.weather[0].main}}</b></p>
        <p class="text-center">Temperature in Degrees Celsius: <b *ngIf="this.weatherData">{{this.weatherData.main.temp}}</b></p>
        <p class="text-center">Feels like in Degrees Celsius: <b *ngIf="this.weatherData">{{this.weatherData.main.feels_like}}</b></p>
        <p class="text-center">Wind speed in kilometers per second: <b *ngIf="this.weatherData">{{this.weatherData.wind.speed}}</b></p>
        <p class="text-center">Humidity in percent: <b *ngIf="this.weatherData">{{this.weatherData.main.humidity}}</b></p>
        <p class="text-center">Pressure in hektopascal: <b *ngIf="this.weatherData">{{this.weatherData.main.pressure}}</b></p>

    </div>

</div>