<div class="content">
    <h1>
        Welcome to my webpage!
    </h1>
    <hr>
    
    <!--weather-->
    <p>
        At the <b>Weather</b> section you can catch up on the weather forecast in your location.
        Just type in your city or region and receive the latest weather changes.
        <br>
        <a routerLink="weather">Show me the Weather section!</a>
    </p>
    <br>

    <!--apod-->
    <p>
        At the <b>APOD</b> section u can check out the daily new <b>A</b>stronomy <b>P</b>icture <b>o</b>f the <b>D</b>ay.
        Enjoy some beautiful pictures from earth to the outer space and get some useful and interesting information on today's picture.
        <br>
        <a routerLink="apod">Show me the APOD section!</a>
    </p>
    <br>
    <p>
        At the <b>Kanye</b> section you can look at some of kanye's most popular tweets.
        Let yourself be inspired by one of mankinds most genius forwardthinker and take a brief look into the life of pablo.
        <br>
        <a routerLink="kanye">Show me the Kanye section!</a>
    </p>
</div>
