<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top"  style="background-color: #07575B;color: #C4DFE6;">
    <div class="container">
        <a href="" class="navbar-brand" style="font-weight: normal;">My App</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" (click)="navMenuToggle()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a routerLink="apod" class="nav-link" style="font-weight: normal;">APOD</a>
                </li>
                <li class="nav-item">
                    <a routerLink="weather" class="nav-link" style="font-weight: normal;">Weather</a>
                </li>
                <li class="nav-item">
                    <a routerLink="kanye" class="nav-link" style="font-weight: normal;">Kanye</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<br>
<div *ngIf="expanded<0">
    <br><br><br><br><br>
</div>